/* universal reset */
*,
*::after,
*::before {
    padding: 0;
    margin: 0;

    /* moved from here to body */
    /* box-sizing: border-box; */

    box-sizing: inherit;
}

html {
    /* rem on all children...easy to compute since relative on root...em difficult to compute, relative on parent */
    /* 3rem = 3 x 10 = 30px */
    /* font-size: 10px; */

    // defines what 1rem is
    /* makes it fluid, flex and dynamic, responsiveness */
    /* 62.5 of 16px(default) = 10px */
    font-size: 62.5%;

    // media query order...
    // start on big screen to small for max-with....since last query overrides 

    @include respond(tab-land) { // width < 1200?
        font-size: 56.25%; //1 rem = 9px, 9/16 * 100% = 50%
    }

    @include respond(tab-port) { // width < 900? .....including mobile size
        font-size: 50%; //1 rem = 8px, 8/16 = 50%
    }
    
    @include respond(big-desktop) {
        font-size: 75%; //1rem = 12, 12/16
    }
}

/* inheritable reset */
body {
    font-family: "Lato", sans-serif;
    font-weight: 400;

    /* inherited at html #15 */
    /* font-size: 16px; */

    line-height: 1.7;
    color: $color-grey-dark;
    padding: 3rem;

    box-sizing: border-box;

    // remove all-round page padding on tablet portrait screen
    @include respond(tab-port) {
        padding: 0;
    }
}

// custom highlight
::selection {
    background-color: $color-primary;
    color: $color-white;
}