.heading-primary {
    color: $color-white;
    text-transform: uppercase;

    /* hides any shake after transformation */
    backface-visibility: hidden;

    margin-bottom: 6rem;

    &--main {
        display: block;
        font-size: 6rem;
        font-weight: 40rem;
        letter-spacing: 3rem;

        animation-name: moveFromLeft;
        animation-duration: 1s;
        animation-timing-function: ease-out; 

        /* 
        animation-iteration-count: 3;
        animation-delay: 1s;
        */
    }

    &--sub {
        display: block;
        font-size: 2rem;
        font-weight: 70rem;
        letter-spacing: 1.5rem;
        
        /* 
        animation-name: moveFromRight;
        animation-duration: 1s;
        animation-timing-function: ease-out; 
        */

        /* combined in oneline */
        animation: moveFromRight 1s ease-out;
    }
}