/* universal or global reset */

*,
*::after,
*::before {
    // padding: 0;
    // margin: 0;
    box-sizing: inherit;    // all element inherit from the html #11
}

html {
    box-sizing: border-box;
    font-size: 62.5%;   // 1rem = 10px...10/16px(default) * 100% = 62.5%
}

body {
    font-family: "Open Sans", sans-serif;  // "Open+Sans" from index.html line #7
    font-weight: 400;
    line-height: 1.7;
    background-color: orangered;
}
