////////////////////////////////////////
// LOGO
.logo {
    height: 3.25rem;
    margin-left: 2rem;
}

////////////////////////////////////////
// SEARCH
.search {
    flex: 0 0 40%;

    display: flex;
    align-items: center; // centers at across/vertical axis 
    justify-content: center;     // centers at main/horizontal axis 

    // @media only screen and (max-width: $bp-smallest) {
    //     order: 1;
    //     flex: 0 0 100%;
    //     background-color: var(--color-grey-light-2);
    // }

    &__input {
        font-family: inherit;
        font-size: inherit;
        color: inherit;
        background-color: var(--color-grey-light-2);
        border: none;
        padding: .7rem 2rem;
        border-radius: 100px;
        width: 90%;
        transition: all .2s;
        margin-right: -3.25rem;    // ship input to button to overlap

        // increases search width when focused
        &:focus {
            outline: none;
            width: 100%;
            background-color: var(--color-grey-light-3);
        }

        // webkit = chrome + safari browsers
        &::-webkit-input-placeholder {  
            font-weight: 100;
            color: var(--color-grey-light-4);
        }
    }

    // adjascent sibling...when input is focused, then do this on the adjascent sibling 
    &__input:focus + &__button {
        background-color: var(--color-grey-light-3);
    }

    &__button {
        border: none;
        background-color: var(--color-grey-light-2);

        &:focus {
            outline: none;
        }

        &:active {
            transform: translateY(2px);
        }
    }

    &__icon {
        height: 2rem;
        width: 2rem;
        fill: var(--color-grey-dark-3); // change svg color
    }
}


////////////////////////////////////////
// USER NAVIGATION
.user-nav {
    align-self: stretch; // have same height as header
    
    display: flex;
    align-items: center;

    // to all direct children
    & > * {
        padding: 0 2rem;
        cursor: pointer;
        height: 100%;   // stretch heigt to header
        display: flex;
        align-items: center;
    }

    // direct children hovered
    & > *:hover {
        background-color: var(--color-grey-light-2);
    }

    &__icon-box {
        position: relative; // for positioning at #116
    }

    &__icon {
        height: 2.25rem;
        width: 2.25rem;
        fill: var(--color-grey-dark-2);
    }

    &__notification {
        font-size: .8rem;
        height: 1.75rem;
        width: 1.75rem;
        border-radius: 50%;
        background-color: var(--color-primary);
        color: #fff;

        // NB: for strict positioning, use positioning
        position: absolute;
        top: 1.5rem;
        right: 1.1rem;

        // center number in red circle
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__user-photo {
        height: 3.75rem;
        border-radius: 50%; // make it round
        margin-right: 1rem;
    }

}


////////////////////////////////////////
// SIDE NAVIGATION
.side-nav {
    font-size: 1.4rem;
    list-style: none;
    margin-top: 3.5rem;

    // @media only screen and (max-width: $bp-medium) {
    //     display: flex;
    //     margin: 0;
    // }

    &__item {
        position: relative; // used with #163

        &:not(:last-child) {
            margin-bottom: .5rem;

            // @media only screen and (max-width: $bp-medium) {
            //     margin: 0;
            // }
        }

        // @media only screen and (max-width: $bp-medium) {
        //     flex: 1;
        // }
    }

    // a style design before/in front of side-nav item
    &__item::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 3px;
        background-color: var(--color-primary);

        // initial state of hover animation
        transform: scaleY(0);
        // transform-origin: bottom;    // center by default even when unspecified 

        // different animation timing function for diff properties
        transition: transform .2s,
                    width .4s cubic-bezier(1,0,0,1) .2s, // .2 cus with start imm after heigth effect 
                    background-color .1s;
    }

    &__item:hover::before,
    &__item--active::before {   // select a menu by default...hover is same as the active state
        transform: scaleY(1);
        width: 100%;
    }

    // give color when clicked
    &__item:active::before {
        background-color: var(--color-primary-light);
    }

    &__link:link,
    &__link:visited {
        color: var(--color-grey-light-1);
        text-decoration: none;
        text-transform: uppercase;
        display: block;
        padding: 1.5rem 3rem;

        position: relative;
        z-index: 10; // doesn't work without relative position #198

        // align icon and text vertically
        display: flex;
        align-items: center;

        // @media only screen and (max-width: $bp-medium) {
        //     justify-content: center;
        //     padding: 2rem;
        // }

        // @media only screen and (max-width: $bp-small) {
        //     flex-direction: column;
        //     padding: 1.5rem .5rem;
        // }
    }

    &__icon {
        width: 1.75rem;
        height: 1.75rem;
        margin-right: 2rem;
        fill: currentColor;  // color of parent el

        // @media only screen and (max-width: $bp-small) {
        //     margin-right: 0;
        //     margin-bottom: .7rem;
        //     width: 1.5rem;
        //     height: 1.5rem;
        // }
    }
}


////////////////////////////////////////
// LEGAL TEXT
.legal {
    font-size: 1.2rem;
    color: var(--color-grey-light-4);
    text-align: center;
    padding: 2.5rem;

    // @media only screen and (max-width: $bp-medium) {
    //     display: none;
    // }
}


////////////////////////////////////////
// GALLERY
.gallery {
    display: flex;

    &__photo {
        width: 100%;
        display: block;     // prevent white space on img
    }
}


////////////////////////////////////////
// HOTEL OVERVIEW
.overview {
    display: flex;
    align-items: center;    // vertical align
    border-bottom: var(--line);

    &__heading {
        font-size: 2.25rem;
        font-weight: 300;
        text-transform: uppercase;
        letter-spacing: 1px;
        padding: 1.5rem 3rem;

        // @media only screen and (max-width: $bp-small) {
        //     font-size: 1.8rem;
        //     padding: 1.25rem 2rem;
        // }
    }

    &__stars {
        margin-right: auto;     // magical...pushed the location to the extreme right...bg container only covers the content's width
        display: flex;
    }

    &__icon-star,
    &__icon-location {
        width: 1.75rem;
        height: 1.75rem;
        fill: var(--color-primary);
    }

    &__location {
        font-size: 1.2rem;
        display: flex;
        vertical-align: center;
        // align-items: center;
    }

    &__icon-location {
        margin-right: .5rem;
    }

    &__rating {
        background-color: var(--color-primary);
        color: #fff;
        margin-left: 3rem;
        padding: 0 2.25rem;
        align-self: stretch;    // stretch to occupy space at top

        display: flex;
        flex-direction: column; // place element top and down
        align-items: center;
        justify-content: center;

        // @media only screen and (max-width: $bp-small) {
        //     padding: 0 1.5rem;
        // }
    }

    &__rating-average {
        font-size: 2.25rem;
        font-weight: 300;
        margin-bottom: -3px;

        // @media only screen and (max-width: $bp-small) {
        //     font-size: 1.8rem;
        // }
    }

    &__rating-count {
        font-size: .8rem;
        text-transform: uppercase;

        // @media only screen and (max-width: $bp-small) {
        //     font-size: .5rem;
        // }
    }
}



////////////////////////////////////////
// BUTTON INLINE
.btn-inline {
    border: none;
    color: var(--color-primary);
    font-size: inherit; // reusable depending on the place
    border-bottom: 1px solid currentColor;  // same color as text #347
    padding-bottom: 2px;
    display: inline-block;
    background-color: transparent;
    cursor: pointer;
    transition: all .2s;

    // & span {
    //     margin-left: 3px;
    //     transition: margin-left .2s;
    // }

    &:hover {
        color: var(--color-grey-dark-1);

        span {
            margin-left: 8px;
        }
    }

    &:focus {   // similar to on-click
        outline: none;
        animation: pulsate 1s infinite;     // infinite animation
    }
}

@keyframes pulsate {
    0% {
        transform: scale(1);
        box-shadow: none;
    }

    50% {
        transform: scale(1.05);
        box-shadow: 0 1rem 4rem rgba(0,0,0,.25);
    }

    100% {
        transform: scale(1);
        box-shadow: none;
    }
}

////////////////////////////////////////
// PARAGRAPH
// .paragraph:not(:last-of-type) {
//     margin-bottom: 2rem;
// }


