////////////////////////////////////////
// LOGO
.logo {
    height: 3.25rem;
    margin-left: 2rem;
}

////////////////////////////////////////
// SEARCH
.search {
    flex: 0 0 40%;

    display: flex;
    align-items: center; // centers at across/vertical axis 
    justify-content: center;     // centers at main/horizontal axis 

    // @media only screen and (max-width: $bp-smallest) {
    //     order: 1;
    //     flex: 0 0 100%;
    //     background-color: var(--color-grey-light-2);
    // }

    &__input {
        font-family: inherit;
        font-size: inherit;
        color: inherit;
        background-color: var(--color-grey-light-2);
        border: none;
        padding: .7rem 2rem;
        border-radius: 100px;
        width: 90%;
        transition: all .2s;
        margin-right: -3.25rem;    // ship input to button to overlap

        // increases search width when focused
        &:focus {
            outline: none;
            width: 100%;
            background-color: var(--color-grey-light-3);
        }

        // webkit = chrome + safari browsers
        &::-webkit-input-placeholder {  
            font-weight: 100;
            color: var(--color-grey-light-4);
        }
    }

    // adjascent sibling...when input is focused, then do this on the adjascent sibling 
    &__input:focus + &__button {
        background-color: var(--color-grey-light-3);
    }

    &__button {
        border: none;
        background-color: var(--color-grey-light-2);

        &:focus {
            outline: none;
        }

        &:active {
            transform: translateY(2px);
        }
    }

    &__icon {
        height: 2rem;
        width: 2rem;
        fill: var(--color-grey-dark-3); // change svg color
    }
}


////////////////////////////////////////
// USER NAVIGATION
.user-nav {
    align-self: stretch; // have same height as header
    
    display: flex;
    align-items: center;

    // to all direct children
    & > * {
        padding: 0 2rem;
        cursor: pointer;
        height: 100%;   // stretch heigt to header
        display: flex;
        align-items: center;
    }

    // direct children hovered
    & > *:hover {
        background-color: var(--color-grey-light-2);
    }

    &__icon-box {
        position: relative; // for positioning at #116
    }

    &__icon {
        height: 2.25rem;
        width: 2.25rem;
        fill: var(--color-grey-dark-2);
    }

    &__notification {
        font-size: .8rem;
        height: 1.75rem;
        width: 1.75rem;
        border-radius: 50%;
        background-color: var(--color-primary);
        color: #fff;

        // NB: for strict positioning, use positioning
        position: absolute;
        top: 1.5rem;
        right: 1.1rem;

        // center number in red circle
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__user-photo {
        height: 3.75rem;
        border-radius: 50%; // make it round
        margin-right: 1rem;
    }

}


////////////////////////////////////////
// SIDE NAVIGATION
.side-nav {
    font-size: 1.4rem;
    list-style: none;
    margin-top: 3.5rem;

    // @media only screen and (max-width: $bp-medium) {
    //     display: flex;
    //     margin: 0;
    // }

    &__item {
        position: relative; // used with #163

        &:not(:last-child) {
            margin-bottom: .5rem;

            // @media only screen and (max-width: $bp-medium) {
            //     margin: 0;
            // }
        }

        // @media only screen and (max-width: $bp-medium) {
        //     flex: 1;
        // }
    }

    // a style design before/in front of side-nav item
    &__item::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 3px;
        background-color: var(--color-primary);

        // initial state of hover animation
        transform: scaleY(0);
        // transform-origin: bottom;    // center by default even when unspecified 
        // different animation timing function
        transition: transform .2s,
                    width .4s cubic-bezier(1,0,0,1) .2s, // .2 cus with start imm after heigth effect 
                    background-color .1s;
    }

    &__item:hover::before,
    &__item--active::before {   // select a menu by default...hover is same as the active state
        transform: scaleY(1);
        width: 100%;
    }

    // give color when click 
    &__item:active::before {
        background-color: var(--color-primary-light);
    }

    &__link:link,
    &__link:visited {
        color: var(--color-grey-light-1);
        text-decoration: none;
        text-transform: uppercase;
        display: block;
        padding: 1.5rem 3rem;

        position: relative;
        z-index: 10; // doesn't work without relative position #198

        // align icon and text vertically
        display: flex;
        align-items: center;

        // @media only screen and (max-width: $bp-medium) {
        //     justify-content: center;
        //     padding: 2rem;
        // }

        // @media only screen and (max-width: $bp-small) {
        //     flex-direction: column;
        //     padding: 1.5rem .5rem;
        // }
    }

    &__icon {
        width: 1.75rem;
        height: 1.75rem;
        margin-right: 2rem;
        fill: currentColor;  // color of parent el

        // @media only screen and (max-width: $bp-small) {
        //     margin-right: 0;
        //     margin-bottom: .7rem;
        //     width: 1.5rem;
        //     height: 1.5rem;
        // }
    }
}


////////////////////////////////////////
// LEGAL TEXT
.legal {
    font-size: 1.2rem;
    color: var(--color-grey-light-4);
    text-align: center;
    padding: 2.5rem;

    // @media only screen and (max-width: $bp-medium) {
    //     display: none;
    // }
}


////////////////////////////////////////
// GALLERY
.gallery {
    // display: flex;

    // &__photo {
    //     width: 100%;
    //     display: block;
    // }
}