.card {

    // FUNCTIONALITY
    perspective: 150rem;
    -moz-perspective: 150rem;
    position: relative;
    height: 52rem;
    
    &__side {
        // background-color: red;
        height: 52rem;
        transition: all .8s ease;

        // lie top of each other
        position: absolute;
        top: 0;
        left: 0;

        width: 100%;
        -webkit-backface-visibility: hidden;    // hides back part of card after animation
        backface-visibility: hidden;
        border-radius: 3px;
        overflow: hidden;   // hides child element's overflow...this time, the card's corners
        box-shadow: 0 1.5rem 4rem rgba($color-black, .15);

        &--front {
            background-color: $color-white;
        }

        &--back {
            transform: rotateY(180deg); // rotate the back before hover for right text display
            background-color: blue;


            // color gradient specific to card 1
            &-1 {
                background-image: linear-gradient(to right bottom, $color-secondary-light, $color-secondary-dark);
            }

            &-2 {
                background-image: linear-gradient(to right bottom, $color-primary-light, $color-primary-dark);
            }

            &-3 {
                background-image: linear-gradient(to right bottom, $color-tertiary-light, $color-tertiary-dark);
            }
        }
    }
  
    // after hover, then the side is transformed...so transformation occurs after hover
    &:hover &__side {
        transform: rotateY(-180deg);
    }   
     
    &:hover &__side--front {
        transform: rotateY(-180deg);    // rotate front since it is not rotated initially
    }

    &:hover &__side--back {
        transform: rotateY(0);  // brings the back back to 0 deg since it's rotate at start
    }


    // FRONT SIDE STYLING
    &__picture {
        // applies to all card pictures
        background-size: cover;     //img covers the empty small space thus need height
        height: 23rem;
        background-blend-mode: screen;  // blend bg image wit gradient color

        -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);  // -webkit prefix to function in other unsupported browsers
        clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);  // should come after the -webkit
        
        // since clip path breaks the hidden overflow, need to be set manually
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
        
        // applies to only pic card 1
        &--1 {
            background-image: linear-gradient(to right bottom, $color-secondary-light, $color-secondary-dark), 
            url(../img/nat-5.jpg);
        }

        &--2 {
            background-image: linear-gradient(to right bottom, $color-primary-light, $color-primary-dark), 
            url(../img/nat-6.jpg);
        }

        &--3 {
            background-image: linear-gradient(to right bottom, $color-tertiary-light, $color-tertiary-dark), 
            url(../img/nat-7.jpg);
        }
    }

    &__heading {
        font-size: 2.8rem;
        font-weight: 300;
        text-transform: uppercase;
        text-align: right;
        color: $color-white;
        // lie top of bg img
        position: absolute;
        top: 12rem;
        right: 2rem;
        width: 75%;

        // not a nested &-span since not depend on parent heading but a new element
    }

    &__heading-span {
        padding: 1rem 1.5rem;
        // applies style to broken text to behave as if they're separated texts
        -webkit-box-decoration-break: clone;
        box-decoration-break: clone;

        &--1 {
            // text to stay on partial transparent bg
            background-image: linear-gradient(to right bottom, 
                rgba($color-secondary-light, .85), 
                rgba($color-secondary-dark, .85)
            );
        }

        &--2 {
            background-image: linear-gradient(to right bottom, 
            rgba($color-primary-light, .85), 
            rgba($color-primary-dark, .85));
        }

        &--3 {
            background-image: linear-gradient(to right bottom, 
            rgba($color-tertiary-light, .85), 
            rgba($color-tertiary-dark, .85));
        }
    }

    &__details {
        padding: 3rem;

        ul {
            list-style: none;   // anytime list is used
            width: 80%;
            margin: 0 auto;     // center block in block element

            li {
                text-align: center;
                font-size: 1.5rem;
                padding: 1rem;

                // border on all element except last element
                &:not(:last-child) {
                    border-bottom: 1px solid $color-grey-light-2;
                }
            }
        }
    }

    // BACK SIDE STYLING
    &__cta {    // cta = call to action
        // centering contents on card
        position: absolute;
        top: 50%;
        left: 50%;

        transform: translate(-50%, -50%);
        width: 90%;
        text-align: center; // center txt
    }

    &__price-box {
        // affect both price value and only
        text-align: center;
        color: $color-white;
        margin-bottom: 8rem;
    }

    &__price-only {
        font-size: 1.4rem;
        text-transform: uppercase;
    }

    &__price-value {
        font-size: 6rem;
        font-weight: 100;
    }


    //@include respond(tab-port) {
    @media only screen and (max-width: 56.25em),
            only screen and (hover: none) {     // wHEN cannot hover

        height: auto;
        border-radius: 3px;
        background-color: $color-white;
        box-shadow: 0 1.5rem 4rem rgba($color-black, .15);   // put shaddow on entire card
        
        &__side {
            height: auto;
            position: relative;
            box-shadow: none;    // remove from only one side of the card...to the entire card #198

            &--back {
                transform: rotateY(0);
                clip-path: polygon(0 15%, 100% 0, 100% 100%, 0% 100%);
            }
        }
    
        &:hover &__side--front {
            transform: rotateY(0);
        }

    
        &__details {
            padding: 1rem 3rem;
        }

        // FRONT SIDE STYLING
        &__cta {
            position: relative;
            top: 0%;
            left: 0;
            transform: translate(0);
            width: 100%;
            padding: 7rem 4rem 4rem 4rem;
        }

        &__price-box {
            margin-bottom: 3rem;
        }

        &__price-value {
            font-size: 4rem;
        }
    }

}