$color-primary: #55c57ac2;
$color-primary-light: #7ed56fc9;
$color-primary-dark: #55c57ac2;

$color-white: #fff;
$color-grey-dark: #777;

// grid
$gutter-vertical: 80px;
$gutter-horizontal: 60px;
$grid-width: 114rem;